.meme-container {
  background-color: white;
  border: 1px solid black;
  margin: 20px auto;
  width: 500px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.meme-image {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.meme-text {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  color: white;
  text-shadow: 5px 5px 5px black;
  width: 100%;
  text-align: center;
}

.fire {
  border: 3px dashed red;
}

.water {
  border: 5px double blue;
}

.earth {
  border: 6px groove green;
}

.custom-border-button {
  padding: 10px 15px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

#fire {
  background-color: red;
}

#fire:hover {
  background-color: rgb(146 , 5 , 5);
}

#water {
  background-color: blue;
}

#water:hover {
  background-color: rgb(1 , 1 , 148);
}

#earth {
  background-color: green;
}

#earth:hover {
  background-color: rgb(3 , 75 , 3);
}

.template-image-area{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.template-image {
  display: inline-block;
  width: 200px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  position: relative;
}

.template-image:hover {
  outline: black 5px solid;
}
